openapi: 3.0.3
info:
  title: YS-skademelding API Doc
  description: Skademeldingsdefinisjon
  contact:
    email: yrkesskade@nav.no
  version: 0.0.3
servers:
  - url: 'https://yrkesskade-melding-api.intern.nav.no/api'
paths:
  /v1/skademeldinger: #endret til generell stinavngivning 150222
    post:
      tags:
        - Skademelding
      summary: Sende inn en skademelding
      operationId: sendSkademelding
      requestBody:
        description: Skademeldingsinnholdet samt metadata
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skademelding'
        required: true
      responses:
        '405':
          description: Invalid input
components:
  schemas:

    ################################################### MODELS ###################################################
    Skademelding:
      type: object
      required:
        - innmelder
        - skadelidt
        - skade
        - hendelsesfakta
      properties:
        innmelder:
          $ref: '#/components/schemas/Innmelder'
        skadelidt:
          $ref: '#/components/schemas/Skadelidt'
        skade:
          $ref: '#/components/schemas/Skade'
        hendelsesfakta:
          $ref: '#/components/schemas/Hendelsesfakta'
      nullable: false
    Innmelder:
      type: object
      required:
        - norskIdentitetsnummer
        - paaVegneAv # Org.nr
        - innmelderrolle
        - altinnrolleIDer
      properties:
        norskIdentitetsnummer:
          type: string
          example: 12345699999
          nullable: false
        paaVegneAv:
          type: string
          example: 123456789
          nullable: false
        innmelderrolle:
          type: string
          example: virksomhetsrepresentant
          nullable: false
        altinnrolleIDer: # kan ha flere roller. skal vi velge en eller lagre flere?
          type: array
          items:
            type: string 
          example: [ 987645, 59647 ]
          nullable: false
    Skadelidt:
      type: object
      required: # det kan også komme dnr eller npid eller at personen har ennå ikke fått norsk identifikator grunnet kort opphold
        - norskIdentitetsnummer #lagt til 100222 for å erstette foedselsnummer slik at den omforener også dnr i tillegg
        - dekningsforhold
      properties:
        norskIdentitetsnummer:
          type: string
          example: 12345699999
        dekningsforhold:
          $ref: '#/components/schemas/Dekningsforhold'
      nullable: false
    Skade: # navngivning OK selv om den omfavner yrkessykdom 100222
      type: object
      required:
        - skadedeDeler
      properties:
        alvorlighetsgrad:
          type: string
          example: antattIkkeOppsoektLege
          description: Gyldige verdier hentes fra kodeliste - 'alvorlighetsgrad'
        skadedeDeler: # ssb prioritere bare den viktigste skaden?
          $ref: '#/components/schemas/SkadedeDeler'
        antattSykefravaerTabellH:
          type: string
          example: fravaersdagerUkjent
          description: Gyldige verdier hentes fra kodeliste - 'harSkadelidtHattFravaer'
        sykdomstype:
          type: string
          example: sykdomIHjernenEllerNervesystemet
          description: Gyldige verdier hentes fra kodeliste - 'sykdomstype'
      nullable: false
    SkadedeDeler:
      type: array
      items:
        $ref: '#/components/schemas/SkadetDel'
      nullable: false
    SkadetDel:
      title: SkadetDel
      type: object
      required:
        - skadeartTabellC
        - kroppsdelTabellD
      properties:
        skadeartTabellC:
          type: string
          example: bruddskade
          description: Gyldige verdier hentes fra kodeliste - 'skadetype'
        kroppsdelTabellD:
          type: string
          example: hode
          description: Gyldige verdier hentes fra kodeliste - 'skadetKroppsdel'
      nullable: false
    Hendelsesfakta:
      type: object
      required:
        - tid
        - naarSkjeddeUlykken
        - hvorSkjeddeUlykken
        - ulykkessted
        - aarsakUlykkeTabellAogE
        - bakgrunnsaarsakTabellBogG
      properties:
        tid:
          $ref: '#/components/schemas/Tid'
        naarSkjeddeUlykken:
          type: string
          example: iAvtaltArbeidstid
          description: Gyldige verdier hentes fra kodeverklisten - 'tidsrom'
        hvorSkjeddeUlykken:
          type: string
          example: arbeidsstedUte
          description: Gyldige verdier hentes fra kodeverklisten - 'hvorSkjeddeUlykken'
        ulykkessted:
          type: string
          example:
          $ref: '#/components/schemas/Ulykkessted'
        aarsakUlykkeTabellAogE:
          type: array
          items:
            type: string
          nullable: false
          example: [ "stukketEllerKuttet" ]
          description: Gyldige verdier hentes fra kodeverklisten - 'aarsakOgBakgrunn'
        bakgrunnsaarsakTabellBogG:
          type: array
          items:
            type: string
          nullable: false
          example: [ "manglendeMerkingEllerVarsling", "verneutstyrUtAvFunksjon" ]
          description: Gyldige verdier hentes fra kodeverklisten - 'bakgrunnForHendelsen'
        utfyllendeBeskrivelse:
          type: string
          example: Fabrikklokalet var mørkt og rotete.
          description: En utfyllende beskrivelse av ulykken som ikke allerede er fanget opp av andre felter. Maks 2000 tegn
        stedsbeskrivelseTabellF:
          type: string
          example: industriellVirksomhet
          description: Gyldige verdier hentes fra kodeverklisten - 'typeArbeidsplass'
        paavirkningsform:
          type: array
          items:
              type: string
          example: [ "kjemikalierEllerLoesemidler" ]
          description: Gyldige verdier hentes fra kodeverkliste - 'paavirkningsform'
      nullable: false
    Adresse:
      type: object
      required:
        - adresselinje1
      properties:
        adresselinje1:
          type: string
          example: Storgaten 12
        adresselinje2:
          type: string
          example: 1234 Plassen
        adresselinje3:
          type: string
          example:
        land:
          type: string
          example: DK
          description: Gyldige verdier hentes fra kodverklisten - 'landkoderISO2'
      nullable: true
    Dekningsforhold:
      type: object
      description: Definerer yrkesskadedekningen - persongruppe i loven
      required:
        - organisasjonsnummer
        - rolletype # i MVP er det predefinert at den skadelidte er arbeidstaker, så inputfeltet i dialogen er inaktiv
      properties:
        organisasjonsnummer:
          type: string
          example: 123456789
        navnPaaVirksomheten: # Hva med adressen til bedriften? Vises i skjermbildet.
          type: string
          example: Forretningsfabrikken AS
        virksomhetensAdresse:
          $ref: '#/components/schemas/Adresse'
        stillingstittelTilDenSkadelidte:
          type: array
          description: Gyldige verdier hentes fra kodeverklisten - 'stillingstittel'
          items:
            type: string
          nullable: true
        rolletype:
          type: string
          example: arbeidstaker
      nullable: false
    Tid:
      type: object
      required:
        - tidstype
      properties:
        tidspunkt:
          type: string
          format: date-time
        periode:
          type: object
          properties:
            fra:
              type: string
              format: date
            til:
              type: string
              format: date
            sykdomPaavist:
              description: Dersom periode er valgt, må det også gis en dato for når sykdom ble påvist
              type: string
              format: date
        ukjent:
          type: boolean
          example: false
        tidstype:
          $ref: '#/components/schemas/Tidstype'
    Ulykkessted:
      type: object
      required:
        - sammeSomVirksomhetensAdresse
        - adresse
      properties:
        sammeSomVirksomhetensAdresse:
          type: boolean
          example: false
        adresse:
          $ref: '#/components/schemas/Adresse'
    Tidstype:
      type: string
      enum:
        - Tidspunkt
        - Periode
        - Ukjent
      example: Tidspunkt
    ################################################# RESPONSE TYPES #################################################
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      nullable: false
