openapi: 3.0.3
info:
  title: YS-skademelding API Doc
  description: Skademeldingsdefinisjon
  contact:
    email: yrkesskade@nav.no
  version: 0.0.3
servers:
  - url: 'https://yrkesskade-melding-api.intern.nav.no/api'
paths:
  /v1/skademeldinger: #endret til generell stinavngivning 150222
    post:
      tags:
        - Skademelding
      summary: Sende inn en skademelding
      operationId: sendSkademelding
      requestBody:
        description: Skademeldingsinnholdet samt metadata
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skademelding'
        required: true
      responses:
        '405':
          description: Invalid input
components:
  schemas:

    ################################################### MODELS ###################################################
    Skademelding:
      type: object
      required:
        - Innmelder
        - Skadelidt
        - Skade
        - Hendelsesfakta
      properties:
        innmelder:
          $ref: '#/components/schemas/Innmelder'
        skadelidt:
          $ref: '#/components/schemas/Skadelidt'
        skade:
          $ref: '#/components/schemas/Skade'
        hendelsesfakta:
          $ref: '#/components/schemas/Hendelsesfakta'
      nullable: false
    Innmelder:
      type: object
      required:
        - norskIdentitetsnummer
#        - fornavn # må ikke være obligatorisk
#        - etternavn # endring 140222 fordi altinn autorisasjon deler kun navn som en streng med oss
        - paaVegneAv # Org.nr
        - innmelderrolle
      properties:
        norskIdentitetsnummer:
          type: string
          example: 12345699999
#       fornavn:
#         type: string
#         example: Kari
#       mellomnavn: # ja, skal være med avklart 100222
#         type: string
#        example: Storm
#       etternavn:
#         type: string
#         example: Hansen
        paaVegneAv:
          type: string
          example: 123456789
        innmelderrolle:
          $ref: '#/components/schemas/Innmelderrolle'
        altinnrolleIDer: # kan ha flere roller. skal vi velge en eller lagre flere?
          type: array
          items:
            type: string 
          example: [ 987645, 59647 ]
          nullable: false
    Skadelidt:
      type: object
      required: # det kan også komme dnr eller npid eller at personen har ennå ikke fått norsk identifikator grunnet kort opphold
        - norskIdentitetsnummer #lagt til 100222 for å erstette foedselsnummer slik at den omforener også dnr i tillegg
        # - foedselsnummer
        - dekningsforhold
      properties:
        norskIdentitetsnummer:
          type: string
          example: 12345699999
        # foedselsnummer:
        #  type: string
        # example: 12345699999
        dekningsforhold:
          $ref: '#/components/schemas/Dekningsforhold'
      nullable: false
    Skade: # navngivning OK selv om den omfavner yrkessykdom 100222
      type: object
      required:
#       - alvorlighetsgrad
#       - oppsoektHelsehjelp Tatt ut 1502 fra obligatorisk felter
        - skadedeDeler
        - antattSykefravaerTabellH
      properties:
        alvorlighetsgrad:
          type: string
          example: antattIkkeOppsoektLege
#       oppsoektHelsehjelp: # tatt ut etter vurdert personvern knyttet til at arbeidsgiver skal spørre ansatt om dette, som ikke er ok 170222
#         $ref: '#/components/schemas/OppsoektHelsehjelp'
        skadedeDeler: # ssb prioritere bare den viktigste skaden?
          $ref: '#/components/schemas/SkadedeDeler'
        antattSykefravaerTabellH:
          type: string
          example: fravaersdagerUkjent
      nullable: false
    SkadedeDeler:
      type: array
      items:
        $ref: '#/components/schemas/SkadetDel'
      nullable: false
    SkadetDel:
      title: SkadetDel
      type: object
      required:
        - skadeartTabellC
        - kroppsdelTabellD
      properties:
        skadeartTabellC:
          type: string
        kroppsdelTabellD:
          type: string
      nullable: false
    Hendelsesfakta:
      type: object
      required:
        - tid # Utviklere må utvide schema til å støtte periode med ikke satt sluttdato, dvs
        - naarSkjeddeUlykken
        - hvorSkjeddeUlykken
        - ulykkessted
        - aarsakUlykkeTabellAogE
        - bakgrunnsaarsakTabellBogG
        - stedsbeskrivelseTabellF
 #      - utfyllendeBeskrivelse # satt til ikke obligatorisk 140222
 #       - utloesendeFaktorTabellE # utgår fordi vi har slått sammen Tabell E med Tabell A 100222
 #       - arbeidsplassbeskrivelseTabellF
 #       - arbeidsforholdsavvikTabellG # utgår fordi vi har slått sammen Tabell G med Tabell B
      properties:
        tid:
          $ref: '#/components/schemas/Tid'
        naarSkjeddeUlykken:
          type: string
          example: iAvtaltArbeidstid
        hvorSkjeddeUlykken:
          type: string
          example: arbeidsstedUte
        ulykkessted:
          type: string
          example:
          $ref: '#/components/schemas/Ulykkessted'
        aarsakUlykkeTabellAogE:
          type: array
          items:
            type: string
          nullable: false
          example: [ "stukketEllerKuttet" ]
        bakgrunnsaarsakTabellBogG:
          type: array
          items:
            type: string
          nullable: false
          example: [ "manglendeMerkingEllerVarsling", "verneutstyrUtAvFunksjon" ]
        utfyllendeBeskrivelse:
          type: string
          example: Fabrikklokalet var mørkt og rotete. 1000 tegn
#        utloesendeFaktorTabellE:
#          $ref: '#/components/schemas/UtloesendeFaktorTabellE'
        stedsbeskrivelseTabellF:
          type: string
          example: industriellVirksomhet
#        arbeidsforholdsavvikTabellG:
#         $ref: '#/components/schemas/ArbeidsforholdsavvikTabellG'
      nullable: false
    Adresse:
      type: object
      required:
        - adresselinje1
      properties:
        adresselinje1:
          type: string
          example: Storgaten 12
        adresselinje2:
          type: string
          example: 1234 Plassen
        adresselinje3:
          type: string
          example:
        land:
          type: string
          example: DK
      nullable: true
    Dekningsforhold:
      type: object
      description: Definerer yrkesskadedekningen - persongruppe i loven
      required:
        - organisasjonsnummer
#       - navnPaaVirksomheten #endret på begrepet 100222
        - stillingstittelTilDenSkadelidte #endre på begrepet 100222
        # - yrke tatt ut når vi innførte Stillingskodetabell
        - rolletype # i MVP er det predefinert at den skadelidte er arbeidstaker, så inputfeltet i dialogen er inaktiv
      properties:
        organisasjonsnummer:
          type: string
          example: 123456789
        navnPaaVirksomheten: # Hva med adressen til bedriften? Vises i skjermbildet.
          type: string
          example: Forretningsfabrikken AS
        stillingstittelTilDenSkadelidte:
          type: array
          items:
            $ref: '#/components/schemas/Stillingstittel'
          nullable: true
#        yrke:
#          type: string
#          example: Fruktmedarbeider
        rolletype:
          type: string
          example: arbeidstaker
      nullable: false
    Tid:
      type: object
      required:
        - tidstype
      properties:
        tidspunkt:
          type: string
          format: date-time
        periode:
          type: object
          properties:
            fra:
              type: string
              format: date
            til:
              type: string
              format: date
        ukjent:
          type: boolean
          example: false
        tidstype:
          $ref: '#/components/schemas/Tidstype'
    Ulykkessted:
      type: object
      required:
        - sammeSomVirksomhetensAdresse
      properties:
        sammeSomVirksomhetensAdresse:
          type: boolean
          example: false
        adresse:
          $ref: '#/components/schemas/Adresse'

    Innmelderrolle:
      type: string
      enum: # OK verifisert for MVP 100222, men lista skal etterhvert utvides, Forsvaret
        - Virksomhetsrepresentant # den eneste som vil faktisk brukes som gyldig verdi til lansering av MVP; skal denne inkludere også studiestedrepresentant, og institusjonsrepresentant: kanskje døpe om til Virksomhestrepresentant 140222
 #      - Verge
 #      - Skadelidt
 #      - Pårørende
 #      - Helsevesen
      example: Virksomhetsrepresentant
    Tidstype:
      type: string
      enum:
        - Tidspunkt
        - Periode
        - Ukjent
      example: Tidspunkt
    Stillingstittel:
      type: string
      enum: 
        - Politikere
        - Toppledere i offentlig administrasjon
        - Toppledere i interesseorganisasjoner
        - Administrerende direktører
        - Finans- og økonomisjefer
        - Personalsjefer
        - Strategi- og planleggingssjefer
        - Andre administrative ledere
        - Salgs- og markedssjefer
        - PR- og informasjonssjefer
        - Forsknings- og utviklingsledere
        - Ledere i skogbruk, gartnerier mv.
        - Ledere innen akvakultur mv.
        - Ledere av industriproduksjon mv.
        - Ledere av olje- og gassutvinning mv.
        - Ledere av bygge- og anleggsvirksomhet
        - Ledere av logistikk og transport mv.
        - Ledere av IKT-enheter
        - Ledere av omsorgstjenester for barn
        - Ledere av helsetjenester
        - Ledere av eldreomsorg
        - Ledere av sosialomsorg
        - Ledere av utdanning og undervisning
        - Ledere av forsikring og finansvirksomhet
        - Andre ledere av produksjon og tjenesteyting
        - Hotellsjefer
        - Restaurantsjefer
        - Varehandelssjefer
        - Sports-, rekreasjons- og kultursenterledere
        - Andre daglige ledere i tjenesteytende virksomheter
        - Fysikere og astronomer
        - Meteorologer
        - Kjemikere
        - Geologer og geofysikere
        - Matematikere, statistikere mv.
        - Biologer, botanikere, zoologer mv.
        - Sivilagronomer mv.
        - Miljøvernrådgivere
        - Sivilingeniører (industri og produksjon)
        - Sivilingeniører (bygg og anlegg)
        - Sivilingeniører (miljøteknikk)
        - Sivilingeniører (maskin- og marin-teknikk)
        - Sivilingeniører (kjemi)
        - Sivilingeniører (geofag, petro-leumsteknologi, metallurgi mv.)
        - Andre sivilingeniører (unntatt elektroteknologi)
        - Sivilingeniører (elkraftteknikk)
        - Sivilingeniører (elektronikk)
        - Sivilingeniører (telekommunikasjon)
        - Sivilarkitekter
        - Landskapsarkitekter
        - Produkt- og klesdesignere
        - Arealplanleggere
        - Landmålere, kartografer mv.
        - Grafiske- og multimediadesignere
        - Allmennpraktiserende leger
        - Legespesialister
        - Spesialsykepleiere
        - Jordmødre
        - Sykepleiere
        - Vernepleiere
        - Veterinærer
        - Tannleger
        - Farmasøyter
        - Helse- og miljørådgivere
        - Fysioterapeuter
        - Ernæringsfysiologer
        - Audiografer og logopeder
        - Ergoterapeuter
        - Kiropraktorer mv.
        - Universitets- og høyskolelektorer/-lærere
        - Yrkesfaglærere
        - Lektorer mv. (videregående skole)
        - Grunnskolelærere
        - Førskolelærere
        - Spesialister i pedagogikk
        - Spesiallærere / spesialpedagoger
        - Andre språklærere
        - Andre musikklærere
        - Andre lærere i estetiske fag
        - Andre IKT-lærere
        - Andre lærere
        - Revisorer, regnskapsrådgivere
        - Finans- og investeringsrådgivere
        - Finansanalytikere
        - Organisasjonsrådgivere mv.
        - Høyere saksbehandlere i offentlig og privat virksomhet
        - Personal- og karriererådgivere
        - Rådgivere innen kompetanseutvikling
        - Reklame- og markedsføringsrådgivere
        - Informasjonsrådgivere
        - Salgskonsulenter innen tekniske og medisinske produkter
        - Salgskonsulenter innen IKT-produkter
        - Systemanalytikere/-arkitekter
        - Programvareutviklere
        - Nett- og multimediautviklere
        - Applikasjonsprogrammerere
        - Andre programvare- og applikasjonsutviklere
        - Databasedesignere og -administratorer
        - Systemadministratorer
        - Nettverksansvarlige
        - Sikkerhetsanalytikere mv.
        - Jurister og advokater
        - Dommere
        - Andre juridiske yrker
        - Arkivarer og kuratorer
        - Bibliotekarer og andre informasjonsarbeidere
        - Rådgivere/forskere, samfunnsøkonomi
        - Rådgivere/forskere, samfunnsvitenskap
        - Rådgivere/forskere, humanistiske fag
        - Psykologer
        - Rådgivere innen sosiale fagfelt
        - Geistlige yrker
        - Forfattere mv.
        - Journalister
        - Oversettere, tolker mv.
        - Skulptører, kunstmalere og andre billedkunstnere
        - Dirigenter, komponister, musikere og sangere
        - Koreografer og dansere
        - Regissører
        - Skuespillere
        - Programledere i TV og radio
        - Andre utøvende kunstneriske yrker
        - Bygningsingeniører
        - Elkraftingeniører
        - Elektronikkingeniører
        - Maskiningeniører
        - Kjemiingeniører
        - Ingeniører innen petroleum, bergverk og metallurgi
        - Tekniske tegnere
        - Andre ingeniører
        - Arbeidsleder, bergfag
        - Arbeidsleder, industri
        - Arbeidsleder, bygg og anlegg
        - Energikontrolloperatører
        - Kontrolloperatører ved forbrennings- kjøle- og vannrenseanlegg mv.
        - Kontrolloperatører innen kjemisk prosessindustri
        - Kontrolloperatører ved olje- og naturgassraffineringsanlegg
        - Kontrolloperatører innen metallproduksjon
        - Andre prosesskontrolloperatører
        - Bioteknikere (ikke-medisinske laboratorier)
        - Agroteknikere
        - Skogteknikere
        - Skipsmaskinister
        - Dekksoffiserer og loser
        - Flygere
        - Flygeledere
        - Teknikere innen luftfartssikkerhet
        - Radiografer mv.
        - Bioingeniører
        - Reseptarer
        - Protese- og tannteknikere
        - Yrker innen alternativ medisin
        - Dyrepleiere
        - Tannpleiere
        - Optikere
        - Helsesekretærer
        - Helse- og miljøkontrollører
        - Ambulansepersonell
        - Andre helseyrker
        - Finansmeglere
        - Kundebehandlere lån og kreditt
        - Regnskapsførere
        - Takstmenn
        - Forsikringsagenter
        - Selgere (engros)
        - Innkjøpere
        - Handels- og skipsmeglere
        - Speditører og befraktere
        - Konferanse- og arrangementsplanleggere mv.
        - Arbeidsformidlere
        - Eiendomsmeglere og - forvaltere
        - Andre yrker innen forretningstjenester
        - Arbeidsledere for kontorpersonell
        - Advokatsekretær
        - Sjefssekretærer
        - Tollere
        - Skattefunksjonærer
        - Saksbehandlere innen sosiale ytelser
        - Saksbehandlere for førerkort, importlisenser mv.
        - Politibetjenter mv.
        - Andre yrker innen offentlig forvaltning
        - Privatetterforskere mv.
        - Miljøarbeidere innen sosiale fagfelt
        - Religiøse yrker
        - Idrettsutøvere
        - Trenere og idrettsdommere
        - Sports- og aktivitetsinstruktører
        - Fotografer og filmfotografer
        - Interiørdesignere og dekoratører
        - Tekniske konservatorer
        - Sjefskokker
        - Andre yrker innen estetiske fag
        - Driftsteknikere, IKT
        - Brukerstøtte, IKT
        - Nettverks- og systemteknikere, IKT
        - Internett-teknikere
        - Teknikere innen radio og tv
        - Teknikere innen telekom
        - Kontormedarbeidere
        - Stenografer mv.
        - Dataregistrere
        - Kundebehandlere, bank og postkontor
        - Bingoverter, bookmakere mv.
        - Pantelånere mv.
        - Inkassomedarbeidere mv.
        - Reisebyråmedarbeidere mv.
        - Kundesentermedarbeidere
        - Sentralbordoperatører
        - Hotellresepsjonister
        - Informasjonsskrankemedarbeidere
        - Resepsjonister (ekskl. hotell)
        - Intervjuere
        - Andre opplysningsmedarbeidere
        - Regnskapsmedarbeidere
        - Forsikrings- og finansmedarbeidere
        - Lønningsmedarbeidere
        - Lagermedarbeidere og material-forvaltere
        - Logistikkmedarbeidere
        - Transportfunksjonærer
        - Bibliotekassistenter
        - Postbud og postsorterere
        - Kodere mv.
        - Arkivassistenter
        - Personalkontormedarbeidere
        - Flyverter, båtverter mv.
        - Konduktører
        - Reiseledere og guider
        - Kokker
        - Servitører
        - Bartendere
        - Frisører
        - Kosmetologer mv.
        - Renholdsledere i virksomheter
        - Husholdere
        - Vaktmestre
        - Astrologer mv.
        - Begravelsesbyrå- og krematoriearbeidere
        - Dyrepassere og - trenere mv.
        - Kjøreskolelærere
        - Andre personlige tjenesteytere
        - Torghandlere
        - Gateselgere, mat
        - Innehavere av kiosk/liten butikk
        - Butikkavdelingssjefer
        - Butikkmedarbeidere
        - Billettselgere
        - Mannekenger og modeller
        - Demonstrasjonsselgere
        - Dørselgere
        - Telefon- og nettselgere
        - Servicemedarbeidere (bensinstasjon)
        - Gatekjøkken- og kafémedarbeidere mv.
        - Andre salgsmedarbeidere
        - Barnehage- og skolefritidsassistenter mv.
        - Skoleassistenter
        - Helsefagarbeidere
        - Hjemmehjelper
        - Andre pleiemedarbeidere
        - Brannkonstabler
        - Fengselsbetjenter
        - Vektere
        - Andre sikkerhetsarbeidere
        - Korn- og grønnsaksprodusenter
        - Frukt- og bærprodusenter
        - Gartnere
        - Kombinasjonsbrukere, nyttevekster
        - Melke- og husdyrprodusenter
        - Egg- og fjærfeprodusenter
        - Birøktere mv.
        - Andre dyreoppdrettere og røktere
        - Plante- og husdyrprodusenter (kombinasjonsbruk)
        - Skogbrukere
        - Havbruksarbeidere
        - Fiskere
        - Fangstfolk
        - Murere
        - Steinhoggere mv.
        - Betongarbeidere
        - Tømrere og snekkere
        - Andre bygningsarbeidere
        - Taktekkere
        - Gulv- og flisleggere
        - Gips- og sparklingsarbeidere
        - Isolatører mv.
        - Glassarbeidere
        - Rørleggere og VVS-montører
        - Kuldemontører mv.
        - Malere og byggtapetserere
        - Overflatebehandlere og lakkerere
        - Feiere, fasaderenholdere mv.
        - Støpere
        - Sveisere
        - Kopper- og blikkenslagere
        - Platearbeidere
        - Riggere og spleisere
        - Smeder
        - Verktøymaker, låsesmeder mv.
        - Metalldreiere mv.
        - Metallslipere
        - Bilmekanikere
        - Mekanikere innen flytekniske fag
        - Anleggsmaskin- og industrimekanikere
        - Sykkelreparatører mv.
        - Presisjonsinstrumentmakere og -reparatører
        - Musikkinstrumentmakere og -stemmere
        - Gull- og sølvsmeder, gravører mv.
        - Keramikere mv.
        - Glasshåndverkere
        - Dekormalere mv.
        - Kunsthåndverkere i tre mv.
        - Vevere, strikkere mv. (innen husflidsproduksjon)
        - Andre kunsthåndverkere
        - Førtrykkere
        - Trykkere
        - Innbindere mv.
        - Elektrikere
        - Automatikere
        - Energimontører
        - Serviceelektronikere
        - Tele- og IKT-installatører
        - Slaktere, fiskehandlere mv.
        - Bakere, konditorer mv.
        - Ystere mv. (gårdsproduksjon)
        - Saftere, syltere mv. (gårdsproduksjon)
        - Prøvesmakere og kvalitetsbedømmere av mat og drikke
        - Møbelsnekkere
        - Skreddere, buntmakere mv.
        - Gradører
        - Møbeltapetserere mv.
        - Skinnberedere og garvere
        - Skomakere
        - Yrkesdykkere
        - Skytebaser og sprengningsarbeidere
        - Produkttestere (ikke matprodukter)
        - Desinfeksjonsarbeidere og skadedyrbekjempere
        - Andre håndverkere
        - Bergfagarbeidere
        - Prosessoperatører (oppredning)
        - Operatører innen boring mv.
        - Operatører innen produksjon av betong mv.
        - Operatører innen metallurgiske prosessfag
        - Operatører innen metallflatebehandling
        - Operatører innen kjemisk industri
        - Operatører innen produksjon av fotofilm og -papir mv.
        - Operatører innen produksjon av gummiprodukter
        - Operatører innen plastprodukter
        - Operatører innen papirprodukter
        - Spinne- og nøstemaskinoperatører
        - Operatører innen tekstilproduksjon mv.
        - Industrisyere
        - Operatører innen tekstilbearbeiding
        - Operatører innen pels, skinn- og lærbearbeiding
        - Operatører innen skinn og lærprodukter
        - Renseri- og vaskerimaskinoperatører
        - Andre operatører innen produksjon av tekstiler, pels, skinn og lær
        - Operatører innen næringsmiddelproduksjon
        - Operatører innen treforedling
        - Operatører innen trelastproduksjon
        - Operatører innen glass- og keramisk produksjon
        - Fyrkjele- og turbinoperatører
        - Pakke-, tappe- og etikettmaskinoperatører
        - Andre stasjonære maskinoperatører
        - Montører av mekaniske produkter
        - Montører av elektriske og elektroniske produkter
        - Andre montører
        - Lokomotiv og T-baneførere
        - Skiftekonduktører mv
        - Bil-, drosje- og varebilførere
        - Bussjåfører og trikkeførere
        - Lastebil- og trailersjåfører
        - Jordbruks- og skogbruksmaskinførere
        - Anleggsmaskinførere
        - Kran- og heisførere mv.
        - Truckførere
        - Dekks- og maskinmannskap (skip)
        - Renholdere i private hjem
        - Renholdere i virksomheter
        - Bilvaskere
        - Vinduspussere
        - Andre rengjørere
        - Hjelpearbeidere i nyttevekstproduksjon
        - Hjelpearbeidere i husdyrproduksjon
        - Hjelpearbeidere i kombinasjonsbruk
        - Hjelpearbeidere i gartneri mv.
        - Hjelpearbeidere i skogbruk
        - Hjelpearbeidere innen havbruk
        - Hjelpearbeidere i bergverk
        - Hjelpearbeidere i anlegg
        - Hjelpearbeidere i bygg
        - Håndpakkere mv.
        - Andre hjelpearbeidere i industri
        - Førere av ikke-motorisert kjøretøy
        - Laste- og lossearbeidere
        - Varepåfyllere
        - Kjøkkenassistenter
        - Reklamedistributører mv.
        - Renovasjonsarbeidere
        - Gjenvinningsarbeidere
        - Gatefeiere mv.
        - Bud mv.
        - Altmuligmann
        - Måleravlesere mv.
        - Andre hjelpearbeidere
    ################################################# RESPONSE TYPES #################################################
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      nullable: false
